In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [38]:
pd.set_option('display.width', 0)

In [17]:
data = pd.read_csv('data/scraped_data.csv')
# Listings has some non-utf-8 characters
listings = pd.read_csv('data/scraped_listings.csv',encoding='ISO-8859-1')

In [20]:
# For faster loading in future
# data.to_pickle('data/scraped_data.pkl')
# listings.to_pickle('data/scraped_listings.pkl')

In [21]:
data = pd.read_pickle('data/scraped_data.pkl')
listings = pd.read_pickle('data/scraped_listings.pkl')

In [35]:
def describe_df(df):
    print('Table First 5 Rows:')
    print(df.head())
    print('Table shape:')
    print(df.shape)
    print('Summary:')
    print(df.info())
    print('Preliminary metrics:')
    print(df.describe())
    print('Missing values:')
    print(df.isnull().sum())

In [36]:
describe_df(data)

Table First 5 Rows:
   scraping_id scraped_date        date  price  available
0            2   2018-03-15  2018-04-01    250          1
1            2   2018-03-15  2018-04-02    115          1
2            2   2018-03-15  2018-04-03    115          1
3            2   2018-03-15  2018-04-04    115          1
4            2   2018-03-15  2018-04-05    150          0
Table shape:
(16300175, 5)
Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16300175 entries, 0 to 16300174
Data columns (total 5 columns):
scraping_id     int64
scraped_date    object
date            object
price           int64
available       int64
dtypes: int64(3), object(2)
memory usage: 621.8+ MB
None
Preliminary metrics:
        scraping_id         price     available
count  1.630018e+07  1.630018e+07  1.630018e+07
mean   8.859516e+06  3.068724e+02  4.880770e-01
std    1.058208e+07  8.637483e+02  4.998578e-01
min    2.000000e+00  1.000000e+01  0.000000e+00
25%    3.835000e+03  1.000000e+02  0.000000e+00
50%    1.293900e+04  1.590000e+02  0.000000e+00
75%    2.147308e+07  3.000000e+02  1.000000e+00
max    2.470754e+07  2.500000e+04  1.000000e+00
Missing values:
scraping_id     0
scraped_date    0
date            0
price           0
available       0
dtype: int64

In [39]:
describe_df(listings)

Table First 5 Rows:
   scraping_id                                listing        city         lon  \
0            2  https://www.airbnb.com/rooms/17720788  Scottsdale -111.916935
1            3   https://www.airbnb.com/rooms/4400911  Scottsdale -111.898977
2            4  https://www.airbnb.com/rooms/19748678  Scottsdale -111.957684
3            5  https://www.airbnb.com/rooms/18900365  Scottsdale -111.915536
4            6  https://www.airbnb.com/rooms/15808110  Scottsdale -111.910657

         lat                                    mapped_location  \
0  33.496566  https://maps.google.com/maps?q=33.496565678911...
1  33.463182  https://maps.google.com/maps?q=33.463182488027...
2  33.607810  https://maps.google.com/maps?q=33.607809726520...
3  33.499397  https://maps.google.com/maps?q=33.499396773678...
4  33.490571  https://maps.google.com/maps?q=33.490570685645...

                                                name  capacity bathrooms  \
0  Old Town Scottsdale Vacation Home & GIANTS Rental         7       2.5
1                 Upscale Townhouse South Scottsdale         4       1.5
2    North Scottsdale/ PV Private Guest House w/pool         4         1
3         Mountain View Paradise*Heated Pool*Spa*Gym         4         1
4                    Modern Luxury Scottsdale Condo!         5         1

  bedrooms  has_pool cleaning_fee  is_superhost       host_name
0        2         1          150             1              Mj
1        2         1           85             1           Jamil
2        0         1           75             1  Julie And Bill
3        1         1          100             1         Vanessa
4        2         1          150             1            Sara
Table shape:
(8445, 14)
Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8445 entries, 0 to 8444
Data columns (total 14 columns):
scraping_id        8445 non-null int64
listing            8445 non-null object
city               8445 non-null object
lon                8445 non-null float64
lat                8445 non-null float64
mapped_location    8445 non-null object
name               8445 non-null object
capacity           8445 non-null int64
bathrooms          8445 non-null object
bedrooms           8445 non-null object
has_pool           8445 non-null int64
cleaning_fee       8445 non-null object
is_superhost       8445 non-null int64
host_name          8445 non-null object
dtypes: float64(2), int64(4), object(8)
memory usage: 923.8+ KB
None
Preliminary metrics:
        scraping_id          lon          lat     capacity     has_pool  \
count  8.445000e+03  8445.000000  8445.000000  8445.000000  8445.000000
mean   1.022693e+07  -111.967109    33.510719     6.053641     0.730847
std    1.086948e+07     0.167902     0.133915     3.282324     0.443546
min    2.000000e+00  -112.712487    32.840029     1.000000     0.000000
25%    5.753000e+03  -112.052714    33.450837     4.000000     0.000000
50%    1.487100e+04  -111.935227    33.501307     6.000000     1.000000
75%    2.188136e+07  -111.897167    33.601196     8.000000     1.000000
max    2.470754e+07  -111.367664    34.076572    26.000000     1.000000

       is_superhost
count   8445.000000
mean       0.241445
std        0.427985
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Missing values:
scraping_id        0
listing            0
city               0
lon                0
lat                0
mapped_location    0
name               0
capacity           0
bathrooms          0
bedrooms           0
has_pool           0
cleaning_fee       0
is_superhost       0
host_name          0
dtype: int64